* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Nunito Sans";
  font-size: 62.5%;
}

head {
  height: auto;
}
.headContainer {
  padding: 1em 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.question {
  font-size: 2em;
  font-weight: 800;
}
.option {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 1.5em;
  font-weight: 600;
}
.option p {
  cursor: pointer;
}
main {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding: 0 5em;
}
.searchcontainer {
  padding: 4em 0;
  display: flex;
  justify-content: space-between;
}
.search {
  background-color: white;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  gap: 1em;
  width: auto;
  height: 3em;
  /*  padding: 0 1.5em; */
  color: hsl(0, 0%, 52%);
  border-radius: 0.5em;
}
.search input {
  width: 20em;
  border: none;
  font-size: 1em;
}
#toSearch {
  box-shadow: 2px 2px 25px #ddd;
  height: 2.5rem;
  padding: 0 1.5rem;
  border-radius: 0.5em;
}
.filter {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  border-radius: 0.5em;
}
.region {
  width: 10.3em;
  font-size: 1.5em;
  font-weight: 600;
  color: hsl(0, 0%, 52%);
  background-color: white;
  padding: 0 1.5em;
  border-radius: 0.5rem;
}
.filterby {
  font-size: 1.5em;
  font-weight: 600;
  color: hsl(0, 0%, 52%);
  background-color: white;
  height: 3em;
  display: flex;
  align-items: center;
  padding: 0 1.5em;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
li {
  cursor: pointer;
}
li:hover {
  color: black;
}
.countries {
  display: flex;
  justify-content: center;
  gap: 2em 7em;
  flex-wrap: wrap;
}
.country {
  width: 28em;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 2em;
}
.country img {
  width: 100%;
}
.country__data {
  padding: 0 1em;
  font-size: 2em;
}
.image {
  height: 60%;
}
img {
  width: 100%;
  height: 100%;
}
#dark {
  border: transparent;
  background-color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  width: 7rem;
  height: 2.5rem;
  border-radius: 5rem;
}
#dark:hover {
  background-color: black;
  color: white;
}
.dark {
  background-color: #222;
  color: #e6e6e6;
}
@media (max-width: 729px) {
  .searchcontainer {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .filter {
    text-align: center;
  }
  .headContainer {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .search {
    width: auto;
  }
  .filterby,
  .region {
    border-radius: 0.5rem;
  }
}
